body {
  margin: 0;
  padding: 0 30px;
}
.content ul {
  width: 100%;
  padding: 0;
  display: table;
}
._flex-row {
  display: flex;
  flex-direction: row;
}
.content ul li {
  width: 50%;
  padding: 30px 0;
  display: table-cell;
}

.border-r {
  border-right: 4px solid #cfcbcb;
  margin: 0 15px 0 0;
}
.Pl-30 {
  padding-left: 30px !important;
}
.table-grid {
  border: 4px solid #a2a2a2;
}
.table-grid div{
  padding: 10px;
}
.form-control div {
  margin: 15px 0;
}
.form-control div:first-child {
  margin: 0;
}
.table-grid div:nth-child(even) {
  background: #e3e2e2;
}
input {
  padding: 15px;
  width: 70%;
  border: 1px solid #cbc4c4;
  margin: 5px 0;
}
.search-button {
  width: 100px;
  background: #898888;
  color: #fff;
  padding:15px;
}
.p-bottom{
  padding-bottom: 15px;
}
header p {
  margin-bottom: 0;
  padding: 30px 0 0 15px;
}
header div {
  margin-bottom: 0;
  padding: 0 0 0 15px;
}
header {
  background: #efefef;
  margin: -20px -30px 30px -30px;
  height: 120px;
}
header p {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.fs-22 {
  font-size: 22px;
  margin-bottom: 15px;
}
li p {
  margin: 5px 0;
}
.table-grid div span:nth-child(2)  {
  padding: 0 0 0 5px;
}
.float-r {
  float: right;
}
.f-bold {
  font-weight: bold;
}
